name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  can-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Install dependencies
        run: make deps

      - name: CI gate
        run: make can-release
